<div class="w-full">
  <div class="space-y-2">
    @if (filter) {
      <div *ngFor="let section of [filter.category, filter.tags]; let i = index" class="space-y-4">
        <div class="cursor-pointer w-full flex justify-between text-lg font-semibold hover:text-secondary-900" (click)="toggleSpoiler(i)">
          <h3 class="">{{ section.sectionName }}</h3>
          <span class="text-xl font-bold">
            {{ isSpoilerVisible[i] ? '-' : '+' }}
          </span>
        </div>
        <div class="w-full transition-all duration-300 ease-in-out text-left" [ngClass]="{'hidden': !isSpoilerVisible[i]}">
          <div class="space-y-2">
            <div *ngFor="let field of section.sectionFields" class="flex justify-between hover:text-secondary-900">
              <label class="inline-flex items-center">
                <input type="checkbox" class="form-checkbox" [(ngModel)]="field.isFieldSelected">
                <span class="ml-2">{{ field.fieldName }}</span>
              </label>
              <span>{{ field.fieldAmount }}</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<style>
  .hidden {
    display: none;
  }
</style>
