body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-box {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 72px;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.site-info h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

li:last-child a {
    color: lightcoral; /* Set the color for the last link to red */
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    padding: 10px 20px;
}



#content {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    line-height: 1.5;
    background-color: rgba(233, 181, 156, 0.92);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content > div {
    margin: 50px;
    width: 380px; /* Optional: Set a maximum width for each column */
    box-sizing: border-box;
    border: 1px solid #000; /* Add outside border */
    border-radius: 5px; /* Optional: Add border-radius */
    text-align: center;
}

#content img {
    width: 360px;
    height: 360px;
    margin-top: 10px;
    border-radius: 5px; /* Optional: Add border-radius to images */
}

#content > div > p {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #000;
}

#content button {
    background-color: #777;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#section-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
    color: #fff;
}



@media only screen and (max-width: 600px) {
    body::after {
        content: none;
    }

    header {
        padding: 10px;
    }

    #text-box {
        margin-top: 50px;
        font-size: 36px;
    }

    .logo img {
        width: 30px;
    }

    .site-info h1 {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .desktop-menu {
        display: none;
    }

    #content {
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img {
        width: 100%;
        height: auto;
    }
}
