body {
    background-image: url('../../images/background/background4.jpg');
}



#text-box p:nth-child(2) {
    margin-top: -80px;
    font-size: 24px;
}

#cost {
    font-size: 42px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 26px;
    line-height: 1.2;
    margin-top: 150px;
    background-color: rgba(233, 181, 156, 0.92);
    border-radius: 10px;
}

.image-carousel {
    margin-left: 5%;
    display: block;
    width: 520px;
    height: 520px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-image {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details {
    width: 40%;
    width: 1000px;
    margin-left: 80px;
    margin-right: 5%;
}

.product-details p {
    margin-bottom: 15px;
}



@media only screen and (max-width: 768px) {
    #text-box p:nth-child(2) {
        margin-top: -10px;
        font-size: 18px;
    }

    #content {
        font-size: 22px;
        margin-top: 0px;
        margin-right: -5%;
        flex-direction: column;
    }

    .product-details {
        margin-left: 0;
        width: 95%;
    }

    .image-carousel {
        width: 90%;
        margin-left: -5%;
        height: auto;
    }
    
    .carousel-image {
        width: 85%;
        height: auto;
    }
}
