<div class="flex flex-grow">
    <div class=" text-center py-8">
        <!-- <p class="font-comfortaa text-xl">О нас</p> -->
        <div>
        </div>
        <div class="font-comfortaa text-xl lg:px-48 md:px-36 sm:px-24 px-6 space-y-2">
            <p>Натуральное мыло ручной работы</p>
            <p>
                BonitaVita - производит мыло из натуральных, органических продуктов. 
                Главная особенность данного магазина - вы можете сами придумать дизайн своего мыла или выбрать из представленных вариантов. 
                Прекрасная возможность полностью изучить состав каждого продукта и учесть все тонкости.  
                Мыло - это искусство и мы хотим подарить это искусство каждому!
            </p>
        </div>
    </div>
</div>

<div class="mb-4">
    <app-grid-list></app-grid-list>
</div>