<div class="my-8 flex w-5/6 mx-auto justify-center space-x-8">
    <div class="w-1/6 flex justify-end text-end">
        <app-filter></app-filter>
    </div>
    <div class="w-5/6 flex justify-start">
        <div class="space-y-4">
            <div class="flex">
                <input type="text" placeholder="Enter soap name here" class="flex-grow p-2 border border-gray-300">
                <button class="w-24 ml-2 px-4 py-2 bg-secondary-900 hover:bg-secondary-600 text-nowrap">Search 🔍</button>
            </div>
            <div class="overflow-hidden">
                <app-grid-list></app-grid-list>
            </div>
        </div>
    </div>
</div>