<div class="flex justify-center font-comfortaa">
    <div class="w-1/2 flex justify-left pl-40 items-center">
        <div>
            <h1 class="text-6xl font-bold">Натуральное мыло ручной работы</h1>
            <!-- <p class="text-xl">Натуральное мыло ручной работы</p> -->
        </div>
    </div>
    <div class="w-1/2 flex justify-center overflow-hidden">
        <div class="w-full">
            <img src="https://bonitavita.lt/images/background/background5.jpg" alt="collection" class="w-full h-350px object-cover">
        </div>
    </div>
</div>

<style>
    .h-350px {
        height: 350px;
    }
</style>
