body {
    background-image: url('../../images/background/background3.jpg');
}

#content {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    line-height: 1.5;
    margin-top: 150px;
    background-color: rgba(233, 181, 156, 0.92);
    border-radius: 10px;
}

#content p {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.element {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    display: inline-block;
}

.image-container {
    display: flex;
    justify-content: center;
}

.element {
    display: inline-block;
    margin: 4px;
    width: auto; /* Adjust the percentage as needed */
    box-sizing: border-box;
}

label {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: 4px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 4px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    cursor: pointer;
    height: 280px;
}

.item-content {
    text-align: center;
    position: relative;
}

.item.selected {
    border-color: gray;
}

.item:hover {
    border-color: gold;
}

.item.checked {
    border-color: #4CAF50;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.item-content {
    padding: 8px;
    flex-grow: 1;
    text-align: center;
}

.item p {
    margin: 8px 0;
    font-size: 18px;
}

.styled-checkbox {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.popup-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
}

.item:hover .popup-content {
    display: block;
}

.element-content.checked {
    flex-direction: column;
    align-items: center;
}

.element-content.checked label {
    width: 100%;
    margin: 10px 0;
}

#message {
    width: 60%;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
    resize: vertical; /* Allows vertical resizing */
    min-height: 72px;
}

#message:focus {
    border-color: #ff4d4d;
}

.button-container {
    margin-top: 0px;
}

#content button {
    background-color: rgba(118, 168, 141, 0.92);
    color: white;
    padding: 12px 90px;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#content button.view:hover {
    background-color: #e9dc9c;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    #content {
        font-size: 18px;
        margin-top: 50px;
    }

    .element {
        width: calc(45% - 10px);
    }

    .item {
        width: 95%;
        height: auto;
        margin: 0;
    }

    .item p {
        margin: 2px 0;
        font-size: 14px;
    }

    
}
